extends ../includes/layout

block main-content
	.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") Multivision
					h6 -Extreme Tech Training
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(href="", data-toggle="dropdown")
							| Courses
							b.caret
						ul.dropdown-menu
							li
								a(href="/courses") Courses (Normal)
							li
								a(href="/courses-ng-grid") Using ng-grid
					li.dropdown
						a.dropdown-toggle(href="", data-toggle="dropdown")
							| Upload
							b.caret
						ul.dropdown-menu
							li
								a(href="/") Using angular-file-upload
							li
								a(href="/") Using angular-uploadcare
							li
								a(href="/") Using ng-flow
				div(ng-include="'/partials/account/navbar-login'")

	section.content
		div(ng-view)

	footer.container.text-center
		p &copy; 2013 MultiVision Corp International Ltd.
